body {
  background-color: #5e4c3d;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 20px;
}

#captcha-box {
  border: 1px solid #ccc;
  background: #fff;
  color: black;
  display: inline-block;
  padding: 20px;
  border-radius: 8px;
}

#bot {
  margin-top: 20px;
  display: none;
}

#bot-img {
  width: 100px;
}

#bot-dialog {
  background: #fff;
  color: #333;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}

#bot-options button {
  margin: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
